{% extends 'layout.html.twig' %}
{% block title %} {{ "Créer un avoir"|trans }} - PharmaCare {% endblock %}
{% block finance %}active{% endblock %}
{% block transfert %}active{% endblock %}

{% block body %}
    <div class="col-lg-8 mt-4 fond p-3">
    <h4 class="mb-5 text-bold">
         <i class="fa-solid fa-money-bill me-2"></i>
            {{ 'Créer un transfert de fonds'|trans }}
    </h4>
    {% for message in app.flashes('notice') %}
    <div role="alert" class="alert alert-success alert-dismissible fade show radius-10 shadow-black">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message|trans }}
    </div>
    {% endfor %}
    
    <form id="form" method="POST">
        <div class="row">
        
            <div class="col-md-4 offset-md-2">
                <div class="col-lg-12">
                                <div class="p-3 rounded border border-green avoir">
                                    <div class="text-green textavoir text-center py-3 rounded-top"> 
                                        <h5>Source</h5>
                                    </div>
                 <div class="col-lg-12">
                       <select id="source" name="source" class="form-select mt-3">
                            <option value="0">Selectionnez la source</option>
                            <option value="Espece">Caisse</option>
                            <option value="Wave">Wave</option>
                            <option value="Orange Money">Orange Money</option>
                            <option value="Banque">Banque</option>
                        </select>
                    </div>
                                </div>
                                
                        </div>
                
                    </div>
            <div class="col-md-4">
              <div class="col-lg-12">
                                <div class="p-3 rounded border border-green avoir">
                                    <div class="text-green textavoir text-center py-3 rounded-top"> 
                                        <h5>Destination</h5>
                                    </div>
                               
                 <div class="col-lg-12">
                       <select id="destination" name="destination" class="form-select mt-3">
                            <option value="0">Selectionnez la destination</option>
                            <option value="Espece"><i class="fa-solid fa-cash-register"></i> Caisse</option>
                            <option value="Wave">Wave</option>
                            <option value="Orange Money">Orange Money</option>
                            <option value="Banque">Banque</option>
                        </select>
                    </div>
                    </div>
                     </div>
                                
                        </div>
             <div class="col-md-2">
            </div>
        </div>
        <div class="row mb-5 pb-5">
        <div class="col-md-8 offset-md-2 justify-content-center"> 
             <div class="form-floating">
                 <input type="number" class="form-control mt-4" placeholder="Montant" id="montant" name="montant" />
                 <label for="montant" class="form-label required">Montant *</label>
            </div>
            <button class="btn btn-success mt-4" type="button" onclick="transfertFond()">valider</button>
            </div>
        </div>
           </form>     

    </div>

    

{% endblock %}
