{% extends 'layout.html.twig' %}
{% block body %}
 <div class="col-lg-6 mt-4 fond p-3">
    <h4 class="mb-5 text-bold">
        <i class="fa-solid fa-house-medical-flag fa-lg"></i> 
            {{ 'Nouveau Service'|trans }}
    </h4>
 <a class="btn btn-success" href="{{ path('mutuel_index') }}"><i class="fa fa-arrow-left"></i> Retour</a> 
    {{ include('service/_form.html.twig') }}
</div>
{% endblock %}
