<form method="post" action="{{ path('mutuel_delete', {'id': mutuel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type:"hidden" name="_token" value="{{ csrf_token('delete' ~ mutuel.id) }}">
    <button class="btn">Delete</button>
</form>
