{% extends 'layout.html.twig' %}
{% block body %}
 <div class="col-lg-6 mt-4 fond p-3">
    <h4 class="mb-5 text-bold">
        <i class="fa-solid fa-house-medical-flag fa-lg"></i> 
            {{ 'Nouvel Assureur'|trans }}
    </h4>

    {{ include('mutuel/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}
