<!DOCTYPE html>

<title>New Mutuel</title>

{% block body %}
    <h1>Create new Mutuel</h1>

    {{ include('mutuel/_form.html.twig') }}

    <a href="{{ path('mutuel_index') }}">back to list</a>
{% endblock %}
